@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
:root {
  --color: #000000;
  --fsMin: 14;
  --fsMax: 20;
  --vwMin: 420;
  --vwMax: 1280;
  font-size: 18px;
  font-size: calc( (var(--fsMin) * 1px) + (var(--fsMax) - var(--fsMin)) * (100vw - (var(--vwMin) * 1px)) / (var(--vwMax) - var(--vwMin)));
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  padding: 2em;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.5em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  margin: 10px 0;
}

p {
  font-size: 0.9rem;
  margin: 40px 10px 20px;
}

span {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.8rem;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.buttons {
  padding: 30px 0;
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #feffe5;
  color: #0f0e0e;
  border: 2px solid #0f0e0e;
  border-radius: 6px;
  margin: 16px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #0f0e0e, #0f0e0e 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #0f0e0e;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:hover {
  background-color: #ffffff;
  color: #0f0e0e;
  border-color: #696363;
}

.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #696363, #696363 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #696363;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

.btn--large {
  width: 50%;
}

.wrapper {
  max-width: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
  border: 0.25em solid var(--color);
  -webkit-box-shadow: 1em 1em 0 0 #f0ff00;
          box-shadow: 1em 1em 0 0 #f0ff00;
  text-align: center;
}

.social {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social img {
  width: 30px;
  margin: 0 5px;
}

.social img:hover {
  background-color: #f0ff00;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
/*# sourceMappingURL=styles.css.map */