@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
// ====== theme ======
$base-color: #f0ff00;
$light-base-color: #feffe5;
$light-color: #ffffff;
$secondary-light-color: #f4f4f4;
$dark-color: #0f0e0e;
$secondary-dark-color: #696363;

// HEX color (used in $bg 🔍 -> `fill='%23#{unquote($colorVal)}'`)
$colorVal: '000000';
// add the `#`
$color: unquote('##{$colorVal}');

// ====== background =====
$bg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23#{unquote($colorVal)}' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E";
// background pattern 👉 http://www.heropatterns.com/

$primary-font: normal 22px/25px 'Patrick Hand', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$stripe-height: 7px;

:root {
  --color: #{$color};

  // ===== font sizing =====
  --fsMin: 14;
  --fsMax: 20;
  // viewport widths
  --vwMin: 420;
  --vwMax: 1280;
  font-size: 18px; // fallback font-size

  // responsive font size magic 🦄✨
  // more info here https://codepen.io/lewisvrobinson/pen/VWoNLP
  font-size: calc(
    (var(--fsMin) * 1px) + (var(--fsMax) - var(--fsMin)) *
      (100vw - (var(--vwMin) * 1px)) / (var(--vwMax) - var(--vwMin))
  );
}

@mixin reset-button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;

  &:-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $secondary-font;
  padding: 2em;
  background-color: #ffffff;
  background-image: url($bg);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 1.5em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  margin: 10px 0;
}

p {
  font-size: 0.9rem;
  margin: 40px 10px 20px;
}

span {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.8rem;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.buttons {
  padding: 30px 0;
}

.btn {
  @include reset-button;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: $light-base-color;
  color: $dark-color;
  border: 2px solid $dark-color;
  border-radius: 6px;
  margin: 16px 10px;
  transition: all 0.5s ease;

  &--stripe {
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      display: block;
      height: $stripe-height;
      width: 100%;
      background-image: repeating-linear-gradient(
        45deg,
        $dark-color,
        $dark-color 1px,
        transparent 2px,
        transparent 5px
      );
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-top: 1px solid $dark-color;
      position: absolute;
      left: 0;
      bottom: 0;
      background-size: $stripe-height $stripe-height;
    }

    &:hover {
      background-color: $light-color;
      color: $dark-color;
      border-color: $secondary-dark-color;

      &:after {
        background-image: repeating-linear-gradient(
          45deg,
          $secondary-dark-color,
          $secondary-dark-color 1px,
          transparent 2px,
          transparent 5px
        );
        border-top: 1px solid $secondary-dark-color;
        animation: stripe-slide 12s infinite linear forwards;
      }
    }
  }

  &--large {
    width: 50%;
  }
}

.wrapper {
  max-width: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
  border: 0.25em solid var(--color);
  box-shadow: 1em 1em 0 0 $base-color;
  text-align: center;
}

.social {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 30px;
    margin: 0 5px;

    &:hover {
      background-color: $base-color;
      transition: background-color 0.5s ease;
    }
  }
}
